.home-places {
  padding: 50px 0;
}

.home-places-h1 {
  padding-bottom: 35px;
  font-size: 28px;
  text-align: center;
}

.grid-main-div {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.flex-main-div {
  border: 1px solid #d7d7d7;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  max-width: 100%;
}

.flex-div {
  display: flex;
  justify-content: space-between;
}

.home-place-img {
  width: 250px;
  height: 200px;
}

.inner-flex-div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inner-flex-div2 {
  align-items: flex-end;
}

.inner-flex-div img {
  width: 10px;
  height: 10px;
}

.inner-flex-div p {
  font-size: 12px;
}

.star-div {
  display: flex;
  gap: 7px;
}

@media screen and (min-width: 768px) {
  .home-places-h1 {
    font-size: 35px;
  }

  .grid-main-div {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .home-places-h1 {
    font-size: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .home-places {
    min-width: 95%;
  }

  .home-places-h1 {
    font-size: 48px;
  }

  .grid-main-div {
    grid-template-columns: repeat(4, 1fr);
  }
}
