.main-top-div {
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
  min-height: 130vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.main-text-div {
  color: var(--primary);
  text-align: center;
}

.main-text-header {
  font-size: 30px;
}

.main-text-header span {
  color: var(--secondary);
}

.main-text-p {
  padding: 35px 0;
}

.main-form {
  display: flex;
  justify-content: center;
}

.form-input,
.form-btn {
  padding: 10px;
}

.form-input {
  width: 55%;
  border: 1px solid var(--search-input);
  color: var(--search);
  font-size: 14px;
  border-radius: 10px 0 0 10px;
  outline: none;
}

.form-btn {
  width: 30%;
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
  color: var(--color-header-footer);
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  font-size: 16px;
}

.main-bottom-div {
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary);
}

.main-bottom-div div {
  display: flex;
  align-items: center;
  padding: 5px;
}

.bottom-h3 {
  padding-left: 5px;
  color: var(--color-header-footer);
  font-size: 16px;
}

.mb-h3 {
  padding-left: 0;
}

.mb-logo {
  width: 35px;
  height: 35px;
}

@media screen and (min-width: 768px) {
  .main-top-div {
    min-height: 170vh;
  }

  .main-text-div {
    width: 80%;
  }

  .main-text-header {
    font-size: 35px;
  }

  .main-text-p {
    font-size: 20px;
  }

  .form-input {
    width: 50%;
  }

  .main-bottom-div {
    justify-content: space-around;
  }
}

@media screen and (min-width: 992px) {
  .main-top-div {
    min-height: 100vh;
    padding-top: 0;
    flex-direction: row;
    justify-content: space-between;
  }

  .main-text-div {
    text-align: start;
  }

  .main-text-header {
    font-size: 45px;
    width: 95%;
  }

  .main-text-p {
    width: 80%;
  }

  .main-form {
    justify-content: flex-start;
  }

  .form-input,
  .form-btn {
    padding: 15px;
  }

  .bottom-h3 {
    padding-left: 10px;
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .main-top-div {
    width: 85%;
  }

  .main-text-header {
    font-size: 56px;
  }

  .main-text-p {
    font-size: 24px;
  }
}
