.nft {
  background-color: var(--secondary);
}

.nft-div {
  min-height: 150vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 85%;
  text-align: center;
}

.nft-text-div {
  color: var(--color-header-footer);
}

.nft-text-div h1 {
  font-size: 30px;
}

.nft-text-div p {
  font-size: 18px;
  padding: 30px 0;
  line-height: 30px;
}

.nft-btn {
  color: var(--secondary);
  border: 1px solid var(--secondary);
  background-color: var(--color-header-footer);
}

@media screen and (min-width: 768px) {
  .nft-div {
    width: 70%;
  }
}

@media screen and (min-width: 992px) {
  .nft-div {
    min-height: 100vh;
    flex-direction: row;
    text-align: start;
    align-items: center;
    width: 85%;
  }

  .nft-text-div h1 {
    font-size: 48px;
  }

  .nft-text-div p {
    width: 80%;
  }

  .nft-image-div {
    min-width: 50%;
  }
}
