.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  min-width: 100%;
  min-height: 6vh;
  background-color: var(--color-header-footer);
}

.logo-div {
  display: flex;
  align-items: center;
}

.logo-header {
  width: 100px;
  height: 20px;
}

.link-ul {
  display: none;
}

.link-li {
  list-style-type: none;
  padding: 10px 20px;
}

.link {
  color: var(--primary);
  text-decoration: none;
  font-size: 20px;
}

.wallet-div {
  display: flex;
  align-items: center;
  margin-right: 60px;
}

.btn {
  padding: 7px 10px;
  border: 1px solid var(--secondary);
  background-color: var(--secondary);
  border-radius: 10px;
  color: var(--color-header-footer);
  cursor: pointer;
  font-weight: 600;
}

.hamburger {
  border: 0;
  height: 35px;
  width: 35px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: var(--secondary);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: fixed;
  top: 3%;
  right: 1%;
  transform: translateY(-50%);
  display: block;
  z-index: 1;
}

.hamburger:hover {
  background-color: var(--primary);
}

@media screen and (min-width: 768px) {
  .header {
    min-height: 8vh;
  }

  .hamburger {
    top: 4%;
  }
}

@media screen and (min-width: 992px) {
  .header {
    justify-content: space-around;
  }

  .hamburger {
    display: none;
  }

  .link-ul {
    display: flex;
  }

  .wallet-div {
    margin-top: 5px;
    margin-right: 0;
  }

  .btn {
    padding: 10px 15px;
  }
}

@media screen and (min-width: 1200px) {
  .hamburger {
    display: none;
  }

  .link-ul {
    display: flex;
  }

  .wallet-div {
    margin-top: 5px;
    margin-right: 0;
  }
}
