@import url("https://fonts.googleapis.com/css2?family=Red+Rose:wght@400;700&display=swap");
@import "./css/reset.css";
@import "./css/navbar.css";
@import "./css/home/main.css";
@import "./css/home/HomePlaces.css";
@import "./css/home/nft.css";
@import "./css/places/navigation.css";
@import "./css/places/places.css";
@import "./css/footer.css";
